<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label>Carl Henkel / B2B-Funktionen</label>
    <version>1.0.0</version>
    <copyright>netzperfekt</copyright>
    <link>https://netzperfekt.de</link>
    <author>netzperfekt.de</author>
    <description><![CDATA[Carl Henkel / B2B-Funktionen]]></description>

    <changelog version="1.0.0">
        <changes>Erste Version</changes>
    </changelog>

    <compatibility minVersion="5.7.0" />
</plugin>
