<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element required="true" type="text" scope="shop">
            <name>emailUserChanges</name>
            <label>E-Mail Benutzer-Änderungen</label>
            <value>shop@carl-henkel.de</value>
        </element>
    </elements>
</config>
